.names {
    display: table-header-group;

    @media (max-width : 460px) {
        position: fixed;
        top: 45px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        display: table;
        table-layout: fixed;
    }

    div {
        display: table-row;

        @media (max-width : 460px) {
            padding-top: 2px;
        }

        div {
            display: table-cell;
            border-right: 1px dotted #666666;
            border-bottom: 1px solid #666666;
            overflow: hidden;
            cursor: pointer;
            font-weight: normal;
            width: 110px;
            text-align: center;
            font-family: "Trebuchet MS", Tahoma, Geneva, sans-serif;
            font-size: 14px;
            line-height: 21px;
            padding-left: 15px;
            padding-right: 15px;
            white-space: nowrap;

            @media (max-width : 460px) {
                width: auto;
            }

            span {
                float: right;
                font-size: 8px;
            }
        }
    }
}
