.save-games {
    width: 450px;
    margin-left: -225px;
    margin-top: -78px;
    text-align: left;
    z-index: 20;

    .select {
        box-sizing: border-box;
        width: 100%;
        height: 122px;
        margin-bottom: 5px;
        border: 1px solid #a9a9a9;
        overflow-y: auto;

        .option {
            padding: 3px;
            font-size: 13px;
            cursor: default;
            overflow: hidden;

            .save-date {
                float: right;
            }

            &.selected {
                background-color: #dddddd;
            }
        }
    }

    .confirm {
        margin-top: 0px;
        float: right;

        button {
            width: auto;
        }
    }
}
